@model IEnumerable<SamsungTest1.Models.samsung_cliente>
@{
    ViewBag.Title = "Index";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Clientes</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar Usuarios">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-title col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">


            <div class="title_left" style="width: 8%;">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <a href="@Url.Action("Index", "Importer")"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-database" aria-hidden="true"></i> Importar Clientes </button></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <!-- Aqui van las tablas -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                
                                    <tr>
                                        <th><input type="checkbox" id="check-all" class="flat"></th>
                                        <th>Usuario</th>
                                        <th>Perfil</th>
                                        <th>Usuario</th>
                                        <th>Correo Electronico</th>
                                        <th class=table_edit></th>
                                    </tr>
                                
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td><input type="checkbox" class="flat" name="table_records"></td>
                                    <td>@item.nombre</td>
                                    <td>@item.perfil</td>
                                    <td>@item.usuario</td>
                                    <td>@item.email</td>
                                    <td><a><span class="fa fa-edit"></span></a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Aqui terminan las tablas -->
        </div>
    </div>
</div>

